@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&family=Sixtyfour&display=swap');

*{
    box-sizing: border-box;
}

body {
    /* font-family: "Playwrite AU VIC Guides", sans-serif; */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.container{
    display: flex;
    width:90vw;
}

.panel{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 3;
    margin: 10px;
    transition: all 1000ms ease-in;
}
.panel p{
    position: absolute;
    font-size: 18px;
    left: 20px;
    bottom: 20px;
    margin: 0;
    max-width: 20%;
    opacity: 0;
}
.panel h3{
    font-size: 30px;
    position: absolute;
    top: 20px;
    left:20px;
    margin:0;
    opacity: 0;
}
.panel.active{
    transition: flex .5s ease-in 0.4s;
    flex:30
}
.panel.active h3{
    opacity: 1;
}
.panel.active p{
    opacity: 1;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content:"";
    background-color:var(--line-border-circleborder);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.circle {
    background-color: #fff;
    color: gray;
    border-radius: 50%;
    height:30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}
.circle.active {
    border-color: var(--line-border-fill);
}
.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    font-family: inherit;
}

.btn:active {
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
@media(max-width:480px){
    .container{
        width: 100vw;
    }
}